
<div>
  <%= form_with(model: [@delivery_modality, @load_category]) do |f| %>
    <div>
      <%= f.label :min_weight %>:
      <%= f.number_field :min_weight %>
    </div>
    <div>
      <%= f.label :max_weight %>:
      <%= f.number_field :max_weight %>
    </div>
    <div>
      <%= f.label :weight_price %>:
      <%= f.number_field :weight_price %>
    </div>
    
    <div>
      <%= f.submit 'Salvar' %>
    </div>
  <%end%>
</div>