<h2>Nova <%= LoadCategory.model_name.human %></h2>
<section id="load_categories">
  <h3>Preços por peso - <%=  %></h3>  
  <% if @load_categories.any? %>
    <table>      
        <tr>
          <th>Intervalo</th>
          <th>Valor por km</th>
          <th>Modalidade</th>
        </tr>
        <% @load_categories.each do |load| %>      
          <tr>
            <td><%= load.formated_description%></td>
            <td> <%= load.formated_value%></td>
            <td> <%= load.delivery_modality.mod_name %></td>
          </tr>
          
        <% end %>
    </table>
  <% else %>
    <p>Não existem preços por peso cadastrados.</p>
    
  <% end %>
</section>
<% if(@load_category.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @load_category.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<br>
<h3>Por favor insira novos valores:</h3>
<%= render 'form' %>