<section id="shipping_order" class="container-fluid">
<h3>Ordem de entrega </h3>
<% if @shipping_order.any? %>
  <dl>
    <dt><strong><%= DeliveryModality.human_attribute_name(:mod_name) %>:</strong></dt><dd> <%= @shipping_order.delivery_modality.mod_name %> </dd>
    <dt><strong><%= ShippingOrder.human_attribute_name(:departure_address) %>:</strong></dt><dd> <%= @shipping_order.departure_address %> </dd>
    <dt><strong><%= ShippingOrder.human_attribute_name(:delivery_address) %>:</strong></dt><dd> <%= @shipping_order.vehicle.vehicle_type %>, <%= @shipping_order.vehicle.licence_plate %></dd>
    <dt><strong><%= ShippingOrder.human_attribute_name(:status) %>:</strong></dt><dd><%= t(@shipping_order.status) %> </dd>
    <dt><strong><%= ShippingOrder.human_attribute_name(:budget) %>:</strong></dt><dd> <%= number_to_currency(@shipping_order.calculate_budget_value(@shipping_order.delivery_modality_id.mod_price, @service_order.shipping_distance, @shipping_order.load_category_id.weight_price, @shipping_order.distance_category_id.distance_price)) %></dd>
    <dt><strong><%= ShippingOrder.human_attribute_name(:estim_delivery_date) %>: </strong></dt><dd><%= t(@shipping_order.estim_delivery_date) %></dd>
    <dt><strong><%= ShippingOrder.human_attribute_name(:received_date) %>: </strong></dt><dd><%= @shipping_order.received_date %></dd>
    <dt><strong><%= ShippingOrder.human_attribute_name(:late_comments) %>: </strong></dt><dd><%= @shipping_order.late_comments %></dd>
  </dl>
  <% else %>
    <p>Ordem de entrega não inicializada.</p>
    <div>
      <% if current_user.user_access == 'regular_user' %>
        <%= link_to 'Iniciar ordem de entrega', new_service_order_shipping_order_path(@service_order), class:"btn btn-warning navbar-brand"%> <br>
      <% end %>
    </div>
  <% end %>
</section>