
<div class="container-fluid mb-3">
  <div class="container-fluid mb-3">
    <h4>Orçamentos disponíveis para ordem de serviço</h4>
    <hr>
    <% @service_order.prices_quotation.each do |hash| %>
    <dl>
      <dt><strong><%= hash[:quotation_index] %> - <%= ShippingOrder.human_attribute_name(:modality_name) %>:</strong> <%= hash[:modality_name] %></dt>
        <dd><strong><%= ShippingOrder.human_attribute_name(:modality_price) %>:</strong> <%= number_to_currency(hash[:modality_price]) %></dd>
        <dd><strong><%= ShippingOrder.human_attribute_name(:load_km_price) %>:</strong> <%= number_to_currency(hash[:load_km_price]) %></dd>
        <dd><strong><%= ShippingOrder.human_attribute_name(:distance_km_price) %>:</strong> <%= number_to_currency(hash[:distance_km_price]) %></dd>
        <dd><strong><%= ShippingOrder.human_attribute_name(:delivery_time) %>:</strong> <%= hash[:delivery_time] %>h</dd>
      <dt><strong><%= ShippingOrder.human_attribute_name(:quotation) %>:</strong> <%= number_to_currency(hash[:quotation]) %></dt>
    </dl>
    <hr>    
    
  </div>
  <%= form_with(model: [@service_order, @shipping_order]) do |f| %>    
      
    <div id="select_array">
      
      <div class="form-label"><%= f.label ShippingOrder.human_attribute_name(:delivery_modality_id)%>:</div> 
      <div class="form-control"><%= f.collection_select(:quotation_id, @quotations, :id, "#{hash[:modality_name]} - #{number_to_currency(hash[:quotation])}")%></div> 
    </div>
    <div>
    
    <div>
      <%= f.submit 'Salvar', class:"btn btn-warning navbar-brand" %>
    </div>
  <%end%>
  <% end %>
</div>