<div>
  <%= form_with(model: @delivery_modality) do |f| %>
    <div>
      <%= f.label :mod_name %>:
      <%= f.text_field :mod_name %>
    </div>
    <div>
      <%= f.label :mod_price %>:
      <%= f.number_field :mod_price, step: 0.01 %>
    </div>
    <div>
      <%= f.submit 'Salvar' %>
    </div>
  <%end%>
</div>
