<h2><%= DeliveryModality.model_name.human %> <%= @delivery_modality.mod_name%></h2>

<dl>
  <dt><strong><%= DeliveryModality.human_attribute_name(:mod_name) %>:</strong> <%= @delivery_modality.mod_name%></dt>
          <dd><strong><%= DeliveryModality.human_attribute_name(:mod_price) %>:</strong> <%= number_to_currency(@delivery_modality.mod_price) %></dd>
</dl>
<%= render 'load_cat_registered' %><br>

<div>
<% if current_user.user_access == 'admin_user' %>
<%= link_to 'Editar Modalidade', edit_delivery_modality_path(@delivery_modality)%> <br>
<%= link_to 'Cadastrar Preços por Peso', new_delivery_modality_load_category_path(@delivery_modality) %>
<% end %>
</div>
<div><%= link_to t(:back_function), root_path%></div>