<!DOCTYPE html>
<html>
  <head>
    <title>ShippingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container-fluid">
    <header>          
      <nav class="navbar navbar-expand-lg navbar-light bg-light px-2 justify-content-space-between">
        <div class="d-flex align-items-center">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <%= link_to root_path do %>
              <button type="button" class="btn btn-warning navbar-brand btn-sm" >Gerenciamento de frota de entregas</button>
            <% end %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <% if user_signed_in? %>
              <li class="list-group d-flex justify-content-between align-items-center  px-2 " class="nav-item"><%= link_to 'Modalidades de Entrega', delivery_modalities_path, class:"nav-link" %></li>
              <li class="list-group d-flex justify-content-between align-items-center  px-2 " class="nav-item"><%= link_to 'Veículos', vehicles_path, class:"nav-link" %></li>
                <%if current_user.user_access == 'regular_user' %>
                <li class="list-group d-flex justify-content-between align-items-center  px-2" class="nav-item"><%= link_to 'Vaiter link inicializar Ordem de Entrega', delivery_modalities_path, class:"nav-link" %></li>
                <% end %>
                <%if current_user.user_access == 'admin_user' %>
                <li class="list-group d-flex justify-content-between align-items-center  px-2" class="nav-item"><%= link_to 'Vai ter link criar Ordem de Entrega', delivery_modalities_path, class:"nav-link" %></li>
                <% end %>
              <li class="list-group d-flex justify-content-between align-items-center  px-2" class="nav-item"><%= current_user.name %></li>
              <li class="list-group d-flex justify-content-between align-items-center  px-2" class="nav-item d-flex justify-content-between align-items-center"><%= button_to 'Sair', destroy_user_session_path, type:"button", class:"btn btn-warning navbar-brand btn-sm", method: :delete %></li>
        
              <% else %>
              <li class="list-group d-flex justify-content-between align-items-center  px-2" class="nav-item"><%= link_to 'Entrar', new_user_session_path, class:"btn btn-warning navbar-brand btn-sm" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>      
    </header>
    <main>
      <div>
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>
      </div>
      <%= yield %>
    </main>    
  </body>
</html>
